/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.hide{
  visibility: hidden;
}

.game-content::before {
  content: "5 cm";
  font-size:20px;
  position: absolute;
  top: -1.5em;
  left: 0;
  z-index: 2;
}
.game-content::after {
  content: "50 cm";
  font-size:20px;
  position: absolute;
  top: -1.5em;
  right: 0;
  z-index: 2;
}
.game-content{
  transform: skew(-15deg);
  width: 100%;
  background-color:#bdc3c7;
  height:6.8rem;
  margin: 50px auto;
}
.target{
  height:inherit;
  width:0.7rem;
  margin-left: 90%;
  background-image:linear-gradient(to right, rgba(192, 192, 192, 0.3), rgba(192, 192, 192, 0.1)),
    linear-gradient(to right, black 50%, white 50%),
    linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 1.5rem 1.5rem;
  position:fixed;
}

.actual{
  height:inherit;
  background-color: #F05423;
  width:1px;
  padding-left: 50%;
  position:fixed;
}